* {
    font-family: "Montserrat", serif;
    font-weight: 600;
    user-select: none;
  }
  
  body {
    background-color: rgb(48, 48, 48);
  }
  
  .homePage-info {
    box-shadow: 0 6px 15px rgb(109, 109, 109);
    border-radius: 25px;
    padding: 30px 10px;
  }
  
  .navbar {
    box-shadow: 0 2px 5px gray;
    margin-bottom: 50px;
  
    .link {
      color: rgb(26, 24, 24);
    }
  }
  
  .user-info {
    font-size: 25px;
    font-weight: 600;
    padding: 5px;
    color: rgb(43, 39, 39);
  }
  
  .list-item {
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.5);
    margin: 10px 10px;
    border-radius: 8px;
    width: 800px;
    background-color: darkcyan;
    cursor: pointer;
    color: black;
    text-decoration: none;
    padding: 10px;
  }
  
  .title {
    color: rgb(36, 30, 30);
    text-align: center;
    font-size: 35px;
  }
  
  .usersCol {
    width: 30%;
    height: 30%;
  
    .card {
      width: 100%;
      box-shadow: 0 1px 5px rgba(20, 19, 19, 0.5);
      height: 140px;
      background-color: rgb(86, 100, 110);
      color: rgb(39, 33, 33);
      border: none;
      padding-top: 5px;
      cursor: pointer;
      transition: 0.2s ease-in-out;
  
      &:hover {
        box-shadow: 0 1px 10px rgba(39, 38, 38, 0.7);
        transform: scale(1.02);
      }
    }
  }
  
  .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .bouncing-dots {
    display: flex;
    justify-content: space-between;
    width: 60px;
  }
  
  .dot {
    width: 15px;
    height: 15px;
    background-color: #ff5c35;
    border-radius: 50%;
    animation: bounce 1.5s infinite;
  }
  
  .dot:nth-child(1) {
    animation-delay: 0s;
  }
  
  .dot:nth-child(2) {
    animation-delay: 0.3s;
  }
  
  .dot:nth-child(3) {
    animation-delay: 0.6s;
  }
  
  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
    }
  
    50% {
      transform: translateY(-20px);
    }
  }
  